{% extends 'base.html' %}
{% block content %}
<h1 class="display-3">Adicionar mutante</h1>
<hr />
<form action="" method="POST" enctype="multipart/form-data">
   {% for message in get_flashed_messages() %}
   <div class="alert alert-danger" role="alert">{{ message }}</div>
   {% endfor %}
   <div class="row">
      <label for="imagem" class="col-sm-2 col-form-label col-form-label-lg">Imagem</label>
      <div class="col-sm-6">
         <input type="file" class="form-control form-control-lg" id="imagem" placeholder="Imagem"  name="imagem" value="{{ request.form['imagem'] }}" accept=".jpg, .jpeg, .png">
      </div>
   </div>
   <br />
   <div class="row">
      <label for="codinome" class="col-sm-2 col-form-label col-form-label-lg">Codinome</label>
      <div class="col-sm-6">
         <input type="text" class="form-control form-control-lg" id="codinome" placeholder="Codinome"  name="codinome" value="{{ request.form['codinome'] }}">
      </div>
   </div>
   <br />
   <div class="row">
      <label for="nome" class="col-sm-2 col-form-label col-form-label-lg">Nome</label>
      <div class="col-sm-6">
         <input type="text" class="form-control form-control-lg" id="nome" placeholder="Nome"  name="nome" value="{{ request.form['nome'] }}">
      </div>
   </div>
   <br />
   <p><button type="submit" class="btn btn-primary btn-lg">Salvar</button></p>
</form>
{% endblock %}