{% extends 'base.html' %}
{% block content %}
<h1 class="display-3">Adicionar mutante</h1>
<hr />
<form action='' method="POST" enctype="multipart/form-data">
   <div class="row">
      <label for="imagem" class="col-sm-2 col-form-label col-form-label-lg">Imagem</label>
      <div class="col-sm-6">
         <input class="form-control form-control-lg" id="imagem" type="file" name="imagem" accept=".jpg, .jpeg, .png">
      </div>
   </div>
   <br />
   <div class="row">
      <label for="mutante_id" class="col-sm-2 col-form-label col-form-label-lg">Mutante ID</label>
      <div class="col-sm-6">
         <input type="text" class="form-control form-control-lg" id="mutante_id" placeholder="ID"  name="mutante_id">
      </div>
   </div>
   <br />
   <div class="row">
      <label for="nome" class="col-sm-2 col-form-label col-form-label-lg">Nome</label>
      <div class="col-sm-6">
         <input type="text" class="form-control form-control-lg" id="nome" placeholder="Nome"  name="nome">
      </div>
   </div>
   <br />
   <div class="row">
      <label for="codinome" class="col-sm-2 col-form-label col-form-label-lg">Codinome</label>
      <div class="col-sm-6">
         <input type="text" class="form-control form-control-lg" id="codinome" placeholder="Codinome"  name="codinome">
      </div>
   </div>
   <p><button type="submit" class="btn btn-primary btn-lg">Salvar</button></p>
</form>
{% endblock %}